<div class="excursion-details">
    <h3 class="section-title">Описание</h3>
    <h4 class="section-content">{{ excursion.description|linebreaksbr }}</h4>

    <h3 class="section-title">Маршрут</h3>
    <h4 class="section-content">{{ excursion.route|linebreaksbr }}</h4>

    <h3>Входит в стоимость</h3>
    <h4>{{ excursion.in_price|linebreaksbr }}</h4>
    <h3>Не входит в стоимость</h3>
    <h4>{{ excursion.out_price|linebreaksbr }}</h4>

    <h3 class="section-title">Стоимость билета</h3>
    <h4 class="section-content">{{ excursion.price|linebreaksbr }}</h4>
</div>
