/* Основной контейнер для информации о туре */
.tour-info-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #1E1E1E;
    /* Темный фон */
    color: #FFFFFF;
    /* Белый текст */
    border-radius: 10px;
}

/* Основная фотография тура */
.tour-main-photo {
    width: 100%;
    height: 540px;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Секции программы и отелей */
.tour-section {
    margin-top: 30px;
}

/* Стили для заголовков и списков */
.tour-section h2 {
    color: #FFA500;
    /* Оранжевый цвет заголовков */
    border-bottom: 2px solid #FFA500;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.tour-section ul {
    list-style: none;
    padding: 0;
}

.tour-section li {
    background-color: #333333;
    /* Темно-серый блок для каждого пункта */
    margin-bottom: 5px;
    border-radius: 5px;
}

.tour-section h3 {
    color: #FFA500;
    /* Оранжевый цвет для названий */
    margin-bottom: 5px;
}
