/* Основной стиль футера */
.site-footer {
    background-color: #2E2E2E;
    /* Темно-серый фон */
    color: #FFFFFF;
    /* Белый текст */
    padding: 30px 0;
    text-align: center;
}

/* Контейнер для информации */
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

/* Стиль для блоков информации */
.footer-info,
.footer-social {
    flex: 1;
    margin: 10px;
}

/* Заголовки в футере */
.footer-info h4,
.footer-social h4 {
    color: #FFA500;
    /* Оранжевый цвет заголовков */
    margin-bottom: 15px;
    font-size: 20px;
}

/* Текстовые элементы */
.footer-info p {
    margin: 5px 0;
}

/* Иконки соцсетей */
.footer-social a {
    text-decoration: none;
    color: azure;
    margin: 0 10px;
    display: inline-block;
}

.footer-social img {
    width: 30px;
    /* Размер иконок */
    height: 30px;
    transition: transform 0.3s ease;
}

/* Анимация при наведении на иконки */
.footer-social a:hover img {
    transform: scale(1.2);
    /* Увеличение иконки при наведении */
}

/* Нижняя часть футера */
.footer-bottom {
    background-color: #1C1C1C;
    /* Еще более темный серый фон */
    color: #999999;
    /* Светло-серый текст */
    padding: 10px;
    font-size: 14px;
}
