body {
    background-color: #000;
    /* Фон сайта - черный */
    color: #E0E0E0;
    /* Основной цвет текста - светло-серый */
    font-family: Arial, sans-serif;
}

.navbar-brand img {
    width: 120px;
    /* Задайте желаемый размер */
    height: 120px;
    /* Сделайте высоту и ширину равными */
    /* border-radius: 60%;
    Превращает изображение в круг */
    object-fit: cover;
    /* Подгоняет изображение под круглый контейнер */
    /* border: 2px solid #FFA500; */
    /* Добавьте оранжевую рамку для акцента */
}

.navbar {
    background-color: #F0F0F0;
    /* Черный фон */
    padding: 10px;
}

.navbar .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-brand h2 {
    color: #FFA500;
    /* Оранжевый цвет текста */
    margin-left: 10px;
    /* Отступ между логотипом и текстом */
    font-size: 24px;
}

.navbar-brand img {
    margin-right: 10px;
}

.navbar-brand:hover h2 {
    color: #ffb732;
    /* Немного светлее оранжевый при наведении */
}

/* Tour cards */

/* Контейнер для всех карточек */



/* Tour page */
