{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-info">
            <h4>Контакты</h4>
            <p>Адрес: г. Сухум, ул. Примерная, 123</p>
            <p>Телефон: +7 (123) 456-78-90</p>
            <p>Email: info@travelagency.com</p>
        </div>
        <div class="footer-social">
            <h4>Мы в соцсетях</h4>
            <a href="#"><img src="{% static 'images/facebook-icon.png' %}" alt="Facebook"></a>
            <a href="#"><img src="{% static 'images/instagram-icon.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'images/twitter-icon.png' %}" alt="Twitter"></a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Тут и там. Все права защищены.</p>
    </div>
</footer>
