{% load static %}

<link rel="stylesheet" href="{% static 'css/footer.css' %}">

<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-info">
            <h4>Контакты</h4>
            <p>Адрес: г. Гагра</p>
            <p>Телефон: +7 (940) 926-40-80</p>
            <p>+7 (925) 182-87-67 (WhatsApp)</p>
            <p>Email: tutitam_travel@mail.ru</p>
        </div>
        <div class="footer-social">
            <h4>Мы в соцсетях</h4>
            <a href="https://t.me/Tut_i_tam_traveling">Telegram</a>
            <a href="https://www.instagram.com/tut_i_tam.travel">Instagram</a>
        </div>
    </div>
    <div class="footer-bottom">
        <p>© 2024 Тут и там. Все права защищены.</p>
    </div>
</footer>
