{% extends 'main.html' %}

{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/excursion_page.css' %}">
<link rel="stylesheet" href="{% static 'css/price_table.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">

<div class="excursion-card">
    <h1 id="name">{{ excursion.name }}</h1>
    <h3>Длительность: {{ excursion.interval }}</h3>

    {% include 'tour/components/excursion_photo_carusel.html' %}

    {% include 'tour/components/excursion_order_details.html' %}

    {% include 'tour/components/excursion_order_form.html' %}

    {% include 'tour/components/back_button.html' %}
</div>

<script src="{% static 'js/excursion_page.js' %}"></script>
<script src="{% static 'js/form.js' %}"></script>

{% endblock content %}
