{% extends 'main.html' %}

{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/excursion_page.css' %}">
<link rel="stylesheet" href="{% static 'css/price_table.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">

<div class="excursion-card">
    <h1>{{ excursion.name }}</h1>
    <h3>Длительность: {{ excursion.interval }}</h3>

    {% include 'tour/components/excursion_photo_carusel.html' %}

    {% include 'tour/components/excursion_order_details.html' %}

    {% include 'tour/components/excursion_order_form.html' %}

    {% include 'tour/components/back_button.html' %}
</div>

<script src="{% static 'js/excursion_page.js' %}"></script>


<script>
    document.getElementById("ContactForm").addEventListener("submit", function (event) {
        event.preventDefault();

        let formData = new FormData(this);

        fetch("", {
            method: "POST",
            body: formData
        })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    document.getElementById("responseMessage").innerText = data.message;
                    document.getElementById("ContactForm").reset();
                } else {
                    document.getElementById("responseMessage").innerText = "Ошибка: " + JSON.stringify(data.errors);
                }
            })
            .catch(error => console.error("Ошибка:", error));
    });
</script>
{% endblock content %}
