{% extends 'main.html' %}

{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/excursion_page.css' %}">
<link rel="stylesheet" href="{% static 'css/price_table.css' %}">

<div class="excursion-card">
    <h1>{{ excursion.name }}</h1>
    <h3>Длительность: {{ excursion.interval }}</h3>

    {% include 'tour/components/excursion_photo_carusel.html' %}

    {% include 'tour/components/excursion_page_details.html' %}

    {% include 'tour/components/back_button.html' %}
</div>


<script src="{% static 'js/excursion_page.js' %}"></script>
{% endblock content %}
