{% extends 'main.html' %}

{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/hotel_page.css' %}">

<div class="hotel-card">
    <h1>{{ hotel.name }}</h1>
    <h3>Адрес: {{ hotel.adress }}</h3>
    <h4>{{ hotel.info }}</h4>

    <!-- Карусель фотографий с навигационными кнопками -->
    <div class="hotel-photo-carousel">
        <button class="carousel-btn prev-btn" onclick="prevPhoto()">&#10094;</button>

        <div class="photo-wrapper">
            {% for elem in photos %}
            <img src="{{ elem.photo.url }}" alt="{{ hotel.name }}" class="hotel-photo"
                onclick="openModal('{{ elem.photo.url }}')">
            {% endfor %}
        </div>

        <button class=" carousel-btn next-btn" onclick="nextPhoto()">&#10095;</button>
    </div>

    <button onclick="history.back()" class="back-button">Назад</button>
</div>



<!-- Модальное окно -->
<div id="photoModal" class="modal">
    <span class="close-modal" onclick="closeModal()">&times;</span>
    <img class="modal-content" id="modalImage">
</div>

<script src="{% static 'js/hotel_page.js' %}"></script>
{% endblock content %}
