{% extends 'main.html' %}


{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/tour_page.css' %}">
<link rel="stylesheet" href="{% static 'css/form.css' %}">

<div class="tour-info-container">
    <h1 id="name">{{ tour.name }}</h1>
    <img src="{{ tour.photo.url }}" alt="{{ tour.name }}" class="tour-main-photo">
    <p>{{ tour.description|linebreaksbr }}</p>

    <div class="tour-section">
        <h2>Программа тура</h2>
        <ul>
            {% for excursion in program %}
            <li>
                <h3><a class="excursion-link" href="{% url 'excursion_info' excursion.excursion.id %}">
                        {{excursion.excursion.name }}</a> -
                    {{excursion.date|date:"d.m.Y"}}</h3>
            </li>
            {% empty %}
            <p>Нет информации о программе.</p>
            {% endfor %}
        </ul>
    </div>

    <div class="tour-section">
        <h2>Отели</h2>
        <span>{{tour.hotel_description|linebreaksbr}}</span>
        <ul>
            {% for hotel in hotels %}
            <li>
                <h3><a class="hotel-link" href="{% url 'hotel_info' hotel.hotel.id %}">
                        {{hotel.hotel.name }}</a></h3>
                <p><strong>Адрес:</strong> {{ hotel.hotel.adress }}</p>
            </li>
            {% empty %}
            <p>Нет информации об отелях.</p>
            {% endfor %}
        </ul>
    </div>


    <div class="tour-presentation">
        {% if tour.presentation.name != 'default.jpg' %}
        <h2>Презентация</h2>
        <h4>Вы можете ознакомиться с полной программой тура, скачав презентацию по ссылке ниже.</h4>
        <a href="{{ tour.presentation.url }}" download class="download-link">
            <img src="/static/icons/pptx-icon.png" alt="PPTX" class="icon"> Презентация тура 📥
        </a>
        {% endif %}
    </div>


    {% include 'tour/components/tour_order_form.html' %}

    {% include 'tour/components/back_button.html' %}
</div>

<script src="{% static 'js/form.js' %}"></script>


{% endblock content %}
