{% extends 'main.html' %}


{% block content%}

{% load static %}
<link rel="stylesheet" href="{% static 'css/tour_page.css' %}">

<div class="tour-info-container">
    <h1>{{ tour.name }}</h1>
    <img src="{{ tour.photo.url }}" alt="{{ tour.name }}" class="tour-main-photo">
    <p>{{ tour.description }}</p>

    <div class="tour-section">
        <h2>Программа тура</h2>
        <ul>
            {% for excursion in program %}
            <li>
                <h3><a class="excursion-link" href="{% url 'excursion_info' excursion.excursion.id %}">
                        {{excursion.excursion.name }}</a> -
                    {{excursion.date|date:"d.m.Y"}}</h3>
            </li>
            {% empty %}
            <p>Нет информации о программе.</p>
            {% endfor %}
        </ul>
    </div>

    <div class="tour-section">
        <h2>Отели</h2>
        <span>{{tour.hotel_description}}</span>
        <ul>
            {% for hotel in hotels %}
            <li>
                <h3>{{ hotel.hotel.name }}</h3>
                <p><strong>Адрес:</strong> {{ hotel.hotel.adress }}</p>
            </li>
            {% empty %}
            <p>Нет информации об отелях.</p>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock content %}
